<!DOCTYPE html>
<html>
  <head>
    <title>Scheduling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <% if type == "alert" %>
        <div>
          <%= message %>
        </div>
      <% end %>
      <% if type == "notice" %>
        <%= message %>
      <% end %>
    <% end %>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main>
      <div class="container">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>
  </body>
</html>
